* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  margin: 1rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.header--item {
  height: 35px;
  font-size: 18px;
  font-weight: 600;
}

.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.body--image {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  height: 400px;
  position: relative;
}

.body--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.body--image img:hover {
  border-radius: 0%;
}


.body--image__details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  position: absolute;
  top: 35%;
  left: 0;
  color: white;
  margin-left: 2rem;
  animation: show 5s ease-in;
}

.body--image__details div:first-child {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.intro--btn {
  background-color: rgb(10, 6, 6);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.intro--btn:hover {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.body--membership {
  grid-row: 1 / 3;
}

.body--pro {
  grid-row: 3 / 5
}

.body--title {
  font-size: 26px;
  font-weight: bold;
}

.body--price {
  font-size: 16px;
  font-weight: 600;
}

.body--btn {
  padding: 10px 20px;
  background-color: rgb(10, 6, 6);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.body--btn:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.footer--item {
  height: 200px;
}

.footer--item__icon {
  width: 3rem;
}

.footer--item div:nth-child(2) {
  font-size: 22px;
  font-weight: 600;
}

.footer--item div:nth-child(3) {
  font-size: 14px;
}

.item--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.75);
  border-radius: 3px;
}

.item--details:hover {
  transform: translate(0px, -5px);
  border-radius: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1007px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .body--image {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }

  .body--membership {
    grid-row: 3 / 4;
    grid-column: 1/ 4;
  }

  .body--pro {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .header {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }

}